/*.label {
    margin: 40px;
  }
  
  .twelve.wid.column.item {
    margin: 40px;
  
  }
  
  #divi {
    background-color: rgb(146, 187, 214);
    font-family: 'Raleway', 'Arial';
    color:red;
  }
  
  div.pushable>.pusher {
    background: #fff;
  }*/
  .example-card {
    max-width: 400px;
    margin-top:20px;
  }
  